@import "archives";

.content-area {
  padding: 50px 0 0 0;

  .container {
    flex-direction: column;
    justify-content: space-between;

    .content {
      width: 100%;

      @media only screen and (min-width: $device-lg) {
        width: $content-width;
        padding: 0 2%;
      }
    }

    .sidebar {
      width: 100%;

      @media only screen and (min-width: $device-lg) {
        width: $sidebar-width;
        padding: 0 0 0 45px;
      }
    }

    @media only screen and (min-width: $device-lg) {
      flex-direction: row;
    }
  }
}

.featured-image {

  a {
    display: block;
  }
}

.entry-meta,
.entry-title {
  margin: 0 0 10px;
}

.entry-meta {
  font-size: 11px;
  text-transform: uppercase;
  color: $theme-meta-gray;

  a {
    color: $theme-search;
  }
}

.entry-title {
  font-size: 26px;
  line-height: 1.2;
}

.entry-content {
  color: $theme-meta-gray;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.6;
}

.post-links {

  .post-footer-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 36px;
    border: 1px solid rgba($theme-text, 0.2);
  }
}
