#site-menu {
  display: none;
  height: $navbar-height;

  .nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    li {

      a {
        padding: 26px 19px 26px 19px;
      }

      + li {
        border-left: 1px solid $theme-dark-border;
      }

      &.has-dropdown {

        > a:after {
          content: '\f107';
          font-family: "FontAwesome";
          display: inline-block;
          padding-left: 7px;
        }

        &.focus,
        &:hover {

          .dropdown-menu {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            transition: opacity 0.3s ease-in-out 0.5s, transform 0.3s ease-in-out 0.5s;
          }
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      display: block;
      visibility: hidden;
      opacity: 0;
      top: 100%;
      left: 0;
      z-index: 100;
      white-space: nowrap;
      padding: 25px 20px;
      background: $theme-banner;
      transform: translate3d(0, 20px, 0);
      transition: opacity 0s, transform 0s;

      a {
        color: $theme-gray;
      }
    }
  }

  @media only screen and (min-width: $device-xl) {
    display: block;
  }
}
